
.calculator {
    width: 320px;
    background-color: #E9E8E8;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0px 10px rgba(79, 71, 71, 0.5);
    margin: 100px auto;
  }
  
  /* Display section */
  .calculator-display {
    background-color: #20262E;
    color: #fff;
    font-size: 2.5rem;
    padding: 20px;
    border-radius: 15px;
    text-align: right;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  /* Secondary display for showing trailing results */
  .calculator-secondary-display {
    color: #000;
    font-size: 1.2rem;
    text-align: right;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  
  /* Grid for buttons */
  .calculator-buttons {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
  }
  
  /* Individual button styles */
  .calculator-button {
    width: 23%; /* Roughly 4 buttons per row */
    background-color: #CD5888;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
  }
  
  /* Styling for the operations (add, subtract, etc.) */
  .calculator-button.operator {
    background-color: #913175;
    color: white;
  }
  
  .calculator-button.equals {
    background-color: #00cc66;
    color: white;
  }
  
  .calculator-button.clear {
    background-color: #913175;
    color: white;
  }
  
  /* Hover effects for buttons */
  .calculator-button:hover {
    background-color: #674188;
  }
  
  .calculator-button.operator:hover {
    background-color: #511250;
  }
  
  .calculator-button.equals:hover {
    background-color: #20262E;
  }
  
  .calculator-button.clear:hover {
    background-color: #20262E;
  }
  